html,body{
    height:100%;
    min-height:100%; 
}
body{
    background-color: #c7d0d8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;    
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}

.content{
    padding: 15px;
    max-width: 550px;
    margin: 0 auto;
}
.wraper{    
    width: 100%;
    height: 100%;
    text-align: center;
}
h1{
    font-size: 50px;
    line-height: 1.2;
    text-align: center;

}

.btn{
    padding: 13px 32px;
    border: 3px solid #000;
    border-radius: 7px;
    margin-top: 20px;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: #6d6d6d;
}
.btn:hover{
    background-color: #000;
    color: #FFF;
}

@media only screen and (max-width: 786px)  {
    h1{
        font-size: 25px;
    }
    p{
        font-size: 16px;
    }
    .btn{
        padding: 8px 16px;
    }
    
}

.header {    
    width: 100%;
    height: 20px;
    padding: 5px;
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #8a8787;
    color: white;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4b9cdb;
}

#loading {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
